.img2_container {
    position: relative;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    background-position: center;
    background-image: url("../Images/paysage2.png");
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    filter: brightness(0.7);
}

.Banner_about {
    margin-top: 63px;
    display: flex;
    justify-content: center;
}
 
