.carrousel_img {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carrousel_icon_next, .carrousel_icon_prev {
    position: absolute;
    width: 46px;
    height: 79px;
    cursor: pointer;
}

.carrousel_icon_prev {
    left: 10px;
}

.carrousel_icon_next {
    right: 10px;
}