.carrousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 180px;
}

.carrousel_img {
    position: absolute;
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

.carrousel_icon_next, .carrousel_icon_prev {
    position: relative;
    width: 46px;
    height: 79px;
    cursor: pointer;
}

.carrousel_icon_prev {
    left: -550px;
}

.carrousel_icon_next {
    right: -550px;
}

.carrousel_slideNumbering {
    position: absolute;
    font-size: 18px;
    margin-top: 350px;
    color: white;

}

@media (max-width: 376px) {
    .carrousel {
        margin-top: 15px;
        height: 255px;
    }

    .carrousel_img {
        width: 355px;
        height: 255px;
        border-radius: 25px;
        object-fit: cover;
    }
        
    .carrousel_icon_prev {
        left: -135px;
    }

    .carrousel_icon_next {
        right: -155px;
    }

    .carrousel_icon_next, .carrousel_icon_prev {
        width: 24px;
        height: 24px;
    }

    .carrousel_slideNumbering {
        display: none;
    }
}