.collapse_title {
    color: white;
    background-color: #FF6060;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border-radius: 5px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.collapse {
    width: 100%;
}

.collapse_txt--visible {
    background-color: #F6F6F6;
    color: #FF6060;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 400;
    padding-left: 18px;
    padding-bottom: 19px;
    border-radius: 0 0 5px 5px;

}

.collapse_txt--hidden {
    display: none;
}

.collapse_fermeture {
    transform: rotate(180deg);
    cursor: pointer;
}

.collapse_ouverture {
    cursor: pointer;
}

.collapse_div {
    background-color: #F6F6F6;
    width: 80%;
    border-radius: 0 0 5px 5px;
}

@media (max-width: 376px) {
    .collapse_div {
        width: 100%;
        padding: 5px;
    }
} 
