body {
    max-width: 1440px;
    margin: 0 auto;
  }

.error_404 {
    font-size: 288px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #FF6060;
    display: flex;
    justify-content: center;
    margin: 0;
}

.error_oups {
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #FF6060;
    display: flex;
    justify-content: center;
    margin-top: 66px;
}

.error_return {
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #FF6060;
    display: flex;
    justify-content: center;
    margin-top: 182px;
    margin-bottom: 189px;
}