body {
    max-width: 1440px;
    margin: 0 auto;
  }

.error_404 {
    font-size: 288px;
    font-weight: 700;
    font-family: "Montserrat";
    color: #FF6060;
    display: flex;
    justify-content: center;
    margin: 0;
}

.error_oups {
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #FF6060;
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
}

.error_return {
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat";
    color: #FF6060;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.error_container {
    display: flex;
    flex-direction:  column;
    text-align: center;
    align-items: center;
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1240px;
}
 
.error, #root,body,html {
    min-height: 100%;
}

@media (max-width: 376px) {
    .error_404 {
        font-size: 96px;
    }

    .error_oups {
        font-size: 18px;
        max-width: 55%;
    }

    .error_return {
        font-size: 14px;
    }
} 