.footer {
    background-color: black;
    text-align: center;
    padding-top: 66px;
    padding-bottom: 29px;
}

.text_footer {
    color: white;
    font-size: 24px;
    font-family: "Montserrat";
} 

.logo_footer {
    width: 122px;
    height: 39px;
}

@media (max-width: 376px) {
    .footer {
        height:120px;
    }

    .text_footer {
        font-size: 12px;
    }
}