.menu {
    display: flex;
    font-size: 24px;
    font-family: "Montserrat";
    gap: 57px;
}

.accueil, .about {
    text-decoration: none;
    color: #FF6060;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    max-width: 1240px;
} 