.logement_main_title, .logement_main_host {
    color: #FF6060;
    font-weight: 500;
    font-family: "Montserrat";
}

.logement_main_title h1{
    font-size: 36px;
}

.logement_main_title p, .logement_main_host{
    font-size: 18px;
}

.logement_main_host_img {
    border-radius: 50%;
    margin-left: 10px;
}

.logement_main_tags span {
    color: white;
    background-color: #FF6060;
    font-size: 14px;
    font-weight: 500;
    font-family: "Montserrat";
    border-radius: 10px;
    padding: 3px 40px 3px 40px;
    margin-right: 10px;
}

.logement_infos {
    display: flex;
    justify-content: space-between;
    margin-top: 190px;
}

.logement_host_img_rating {
    display: flex;
    flex-direction: column;
}

.logement_main_host_rating {
    display: flex;
    flex-direction: column;
}

.logement_main_host {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.logement_host_rating {
    min-width: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.logement_main_collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:15px;
}


.logement_main_collapse_details .collapse_div {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px ;
}

.logement_main_collapse_details .collapse_title {
    padding-left: 15px;
    padding-right: 15px; 
    width: 570px;
}

.logement_main_collapse_details .collapse_txt--visible  {   
    width: 582px;
}

@media (max-width: 376px) {
    .logement_infos {
        flex-direction: column;
        margin-top: 20px;
    }

    .logement_main_host_rating{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    
    .logement_main_collapse {
        flex-direction: column;
        gap: 0px;
    }

    .logement_main_collapse_details .collapse_title {
        padding-left: 5px;
        padding-right: 5px; 
        width: 350px;
    }
    
    .logement_main_collapse_details .collapse_txt--visible  {   
        width: 350px;
        padding: 5px; 
    }

    .logement_host_rating {
        min-width: 0px;
        display: block;
    }
    .logement_main {
        padding: 5px;
    }

    .logement_host_rating img{
        width: 18px;
        height: 18px;
    }

    .logement_main_host_img{
        width: 32px;
        height: 32px;
    }

    .logement_main_host{
        font-size: 12px;
    }

    .logements {
        width: 100%;
    }

    .logement_main_tags{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logement_main_tags span {
        margin-top: 5px;
    }
}